//Colors
$primaryColor: hsl(277, 64%, 61%);
$secondaryColor: hsl(244, 38%, 16%);
$backgroundColor: hsl(233, 47%, 7%);
$mainTextColor: hsl(0, 0%, 100%);
$secondaryTextColor: hsla(0, 0%, 100%, 0.75);
$supportTextColor: hsla(0, 0%, 100%, 0.6);

//Fonts
$paragraphFont: 'Lexend Deca', sans-serif;
$headingFont: 'Inter', sans-serif;

//Global style
*{
    box-sizing: border-box;
    margin: 0;
}

//Media Queries
$breakpointDesktop: 1200px;



body{
    background-color: $backgroundColor;
    font-family: $paragraphFont;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6rem;

    h1{
        font-family: $headingFont;
        font-size: 1.7rem;
        line-height: 2.2rem;
        
        @media (min-width: $breakpointDesktop) {
            font-size: 2.1rem;
            line-height: 3rem;
        }
    }

    h3{
        font-family: $headingFont;
        font-size: 1.3rem;
        line-height: 2.3rem;

        @media (min-width: $breakpointDesktop) {
            font-size: 1.6rem;
            line-height: 2.3rem;
        }
    }

    .hero-section{
        padding: 5em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $mainTextColor;
        position: relative;

        @media (min-width: $breakpointDesktop) {
            height: 100vh;

        }

        .card-wrapper{
            margin: 0 auto;
            background-color: $secondaryColor;
            width: 90%;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            text-align: center;

            @media (min-width: 1200px) {
                flex-direction: row-reverse;
                text-align: left;
                width: 75%;

            }

            .header{
                background-color: $primaryColor;
                background-blend-mode: overlay;
                opacity: .5;
                background-image: url(../images/image-header-mobile.jpg);
                background-size: cover;
                width: 100%;
                height: 220px;

                @media (min-width: $breakpointDesktop) {
                    background-image: url(../images/image-header-desktop.jpg);
                    width: 50%;
                    height: auto;
                }
            }
            .content{
                padding: 40px 30px;

                @media (min-width: $breakpointDesktop) {
                    width: 50%;
                    padding: 6% 8% 6% 7%;
                }

                .copy{
                    margin-bottom: 40px;

                    @media (min-width: $breakpointDesktop) {
                        margin-bottom: 72px;
                    }

                    h1{
                        margin-bottom: 20px;

                        span{
                            color: $primaryColor;
                        }
                    }
                }

                .insights{
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    @media (min-width: $breakpointDesktop) {
                        flex-direction: row;
                        gap: 60px;
                    }
                    
                    p{
                        text-transform: uppercase;
                        font-size: .85rem;
                    }
                }

                p{
                    color: $supportTextColor;
                }
            }
        }

        .attribution {
            position: absolute;
            bottom: 15px;
            color: $supportTextColor;
            font-size: .75rem;

            a{
                color: $primaryColor;
            }
        }
    }








}

